html {
    background-image: url("/images/desktop-wallpaper-png-television-set-transparent-television-set-png-vintage-tv.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* START MENU CSS */
#app {
  position: fixed;
  bottom: 7%;
  top: 0;
  left: 0;
  right: 15%;
  margin: auto;
  aspect-ratio: 1.5;
  color: white;
  background-color: black;
  width: 52%;
  font-family: 'Press Start 2P', cursive;
  color: #20C20E;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-options {
    max-height: 104.8px;
    text-align: center;
}

.row, #game-options, .cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-option {
    background-color: white;
    width: 150px;
    height: 100px;
    margin: 5px 10px;
    border: 3px solid #20C20E;
}

.game-option:hover {
    border: 6px solid #20C20E;
}

.clickable {
    cursor: pointer;
}

#tictactoe-preview {
    background-image: url("/images/tictactoe.png");
    background-size: cover;
}

#hangman-preview {
    background-image: url("/images/hangman.png");
    background-size: cover;
}

#color-picker-preview {
    background-image: url("/images/Screenshot 2023-05-17 181740.png");
    background-size: cover;
}

#connect-four-preview {
    background-image: url("/images/Screenshot 2023-05-23 095912.png");
    background-size: cover;
}
/* TICTACTOE CSS */
.cell {
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-transform: uppercase;
}

.cell:nth-child(3n+2) {
    border-right: 5px #20C20E solid;
    border-left: 5px #20C20E solid;
}

.cell:nth-child(n+4):nth-child(-n+6) {
    border-bottom: 5px #20C20E solid;
    border-top: 5px #20C20E solid;
}

.board {
    display: flex;
    height: 310px;
    width: 310px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#display-names, #connect-four {
    justify-content: space-between;
}

#tictactoe {
    font-size: larger;
}

.title {
    text-align: center;
    margin: 25px 0px;
}

.player-option, #P1-name-input, #P2-name-input {
    padding: 10px 15px;
    width: 180px;
    text-align: center;
}

.highlight:hover, .active {
    background-color: #20C20E;
    color: black;
}

.incorrect {
    background-color: red;
    color: black;
}

.button {
    padding: 15px 10px;
    text-align: center;
}

.back-button {
    width: 40px;
    text-align: center;
}

#P1-name-input, #P2-name-input {
    display: none;
    background-color: black;
    color: #20C20E;
    font-family: 'Press Start 2P', cursive;
    font-size: 19.2px;
}
/* HANGMAN CSS */

#hangman-visual {
    height: 200px;
    aspect-ratio: 2/3;
    align-items: flex-end;
}

#floor {
    height: 5%;
    width: 34%;
}

#rafter {
    height: 5%;
    width: 74%;
    margin-right: 5%;
}

#between {
    height: 90%;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

#hanged-man {
    height: 85%;
    width: 50%;
}

#pole {
    height: 100%;
    width: 10%;
}

#left-arm, #right-arm {
    height: 33%;
    width: 12%;
    border-top: 12px solid #20C20E;
}

#left-arm {
    border-left: 10px solid #20C20E;
}

#right-arm {
    border-right: 10px solid #20C20E;
}

#center {
    height: 100%;
    width: 70%;
}

#legs {
    width: 100%;
    height: 35%;
    justify-content: space-between;
}

#body {
    width: 100%;
    height: 35%;
}

#head {
    width: 50%;
    height: 15%;
    border-radius: 50%;
}

#rope {
    width: 10%;
    height: 15%;
}

#left-leg, #right-leg {
    height: 100%;
    width: 32%;
}

#alphabet {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.smaller-button {
    padding: 5px;
}

#hint {
    height: 100px;
    margin: 5px;
    overflow: auto;
}

.letter {
    text-decoration:underline;
    margin: 5px;
}

.wrong {
    color: red;
}

::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background: #20C20E; 
  }
/* COLOR PICKER CSS */
.color {
    width: 100px;
    height: 100px;
}

.color-option {
    width: 288px;
    height: 16px;
    text-align: center;
}

#color-options {
    max-width: 650px;
    flex-wrap: wrap;
}

#color-guesser {
    height: 100%;
    width: 100%;
}
/* CONNECT FOUR CSS */
.connect-four-cell {
    background-color: #20C20E;
    padding: 5px;
}

.hole {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
}